<% if(data.groups && data.groups.length) {
_.each(data.groups, function(group, i){%>
<li data-dblclick="open" data-type="group" data-index="<%-i%>">
	<div <%- group._edit?'contenteditable':'' %>><%- group.description %></div><span data-clic="edit">edit</span>
</li>
<%});
}%>